.stretch-side > div {
    display: flex;
    align-items: stretch;
    height: 0px;
}
.container-side {
    margin-top: 0px;
    margin-left: 0px;
}
.container-side > div {
    background-color: #0E1B42;
    top: 60px;
    color: #F1F1F5;
    width: 288px;
    height: 1615px;
    text-align: center;
    line-height: 110px;
    font-size: 20px;
    border-radius: 0px;
}
.container-side > div > div > img {
    width: 26.58px;
    height: 26.58px;
    bottom: 40px;
    text-align: left;
}
.panel-side {
    background-color: #FFDD00;
    color: black;
    width: 288px;
    height: 56px;
    line-height: 70px;
}
.list-side {
    line-height: 70px;
    list-style: none;
}
.list-side > li {
    width: 248px;
    top: 0px;
    margin-left: 60px;
    text-align: left;
}
/*can be in setup.css - the one that change the design of navigation
.container > div {
    background-color: #0E1B42;
    color: #F1F1F5;
    width: 288px;
    height: 1615px;
    text-align: center;
    line-height: 120px;
}
the yellow panel with the icon
.container > div > div {
    background-color: #FFDD00;
    color: black;
    font-family: 'Rubik';
    width: 288px;
    height: 56px;
    line-height: 70px;
}
.container > div > ul {
    line-height: 70px;
    list-style: none;
    width: 250px;
    Height: 25px;
}
.container > div > ul > li {
    width: 248px;
    top: 0px;
    bottom: 0px;
    margin-left: 90px;
    text-align: left;
    list-style: none;
}
.container > div > div > img {
    width: 26.58px;
    height: 26.58px;
    bottom: 40px;
    text-align: left;
}*/