.topnav > div {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    
    /*display: flex;
    align-items: stretch;*/
}
.nav > div {
    background-color: blue;
    color: black;
    padding: 10px;
    flex: 50%;
    height: 68px;
    margin-left: 288px;
    line-height: 50px;

    /*background-color: #0E1B42;
    color: #F1F1F5;
    width: 1152px;
    height: 80px;
    margin-left: 288px;
    line-height: 90px;*/
}
.nav > div > img {
    height: 26.36px;
    width: 26.67px;
    margin-left: 20px;
    border-radius: 0px;
}
.nav > div > i {
    height: 14px;
    width: 9.17px;
    margin-left: 50px;
    float: right;
}
.nav > div > a {
    margin-right: 100px;
}
.nav > div > span {
    margin-left: 8px;
    line-height: 10px;
    font-size: medium;
}