.container-tran {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* margin-top: 150px; */
    /* margin-left: 800px; */
    width: 1000px;
}
.container-tran > div {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    flex-direction: row;
    color: black;
    width: 700px;
    margin: 0px;
    text-align: left;
    line-height: 50px;
    font-size: 20px;
}
.th {
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 10px; */
    background-color: #FFDD00;
}
.container-tran > div > ul {
    list-style: none;
    margin: auto;
    line-height: 10px;
    
}
.container-tran > div > ul > li {
    margin: auto;
    line-height: 60px;
}




/* .column-tran > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 25px;
}
.container-tran {
    position: static;
    margin-top: 0px;
    margin-left: 645px;
}
.container-tran > div {
    background-color: #F1F1F5;
    color: black;
    height: 700px;
    width: 850px;
    margin: 0px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.title-tran {
    line-height: 100px;
    margin-left: 20px;
}
.title-tran > button {
    margin-top: 40px;
    margin-right: 20px;
    border-radius: 10px;
    height: 40px;
    width: 170px;
    float: right;
}
.title-tran > input {
    margin-top: 40px;
    margin-right: 20px;
    border-radius: 10px;
    height: 40px;
    width: 182px;
    float: right;
}
.table-tran {
    border-radius: 10px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.table-tran > table {
    width: 100%;
}
.table-tran > table > tr > th {
    background-color: #FFDD00;
    left: 0px;
}
.table-tran > table > tr > td {
    font-size: 16px;
    line-height: 50px;
}
.table-tran > table > tr > td > img {
    width: 32px;
    height: 32px;
} */
